
 <div class="center center-tight">
        <p>
            <a><%= link_to (image_tag("Bizrollerlogowithtagline.png")) %></a>
        </p>
            
        <div style="background-color: #F0F8FF; border: 1px solid #ADD8E6; padding: 8px 14px 8px 14px; border-radius: 4px;">
            <h4>Created by and for business travelers, BizRoller is the place to connect with other business travelers and get focused reviews on everything from meetings and conferences to hotels, restaurants, attractions and support services. <br><br>

            Looking to connect with other travelers or meet prospective customers while away on business? Seeking something interesting to see? In need of a service to make your travel easier? Stay tuned. Thanks for signing up for our beta.</h4>
        </div>

         	
      <!--  <%= link_to "Home", root_path, class: "btn btn-primary floatcenter" %>
        <%= link_to "Contact BizRoller", contact_path, class: "btn btn-primary floatcenter" %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "btn btn-primary floatcenter" %> -->
                
    </div>

